@mixin list-no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin chevron($size, $weight, $rotation) {
    border-color: #808080;
    border-style: solid;
    border-width: $weight $weight 0 0;
    content: '';
    display: inline-block;
    height: $size;
    position: absolute;
    transform: rotate($rotation);
    vertical-align: top;
    width: $size;
}

.app {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.header {
    -webkit-app-region: drag;
    background-image: linear-gradient(to bottom, #EEECEE 0%, #D5D3D5 100%);
    border-bottom: 1px solid #BBBBBB;
    color: #2D2D2D;
    margin: 0;
    padding: 10px 0;
    position: relative;

    a {
        font-size: 11px;
        margin-top: 1px;
        padding-left: 20px;
        position: absolute;

        &::before {
            @include chevron(8px, 2px, 225deg);
            left: 10px;
            top: 3px;
        }
    }
}

.title-bar {
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
}

.search-bar {
    background-color: #EAEAEA;
    padding: 6px;

    input {
        border: 1px solid #CDCDCD;
        border-radius: 2px;
        padding: 4px;
        width: 100%;
    }
}

.search-options {
    @include list-no-bullets;

    li {
        background-color: #fff;
        border-bottom: 1px solid #E6E6E6;
        position: relative;

        &::after {
            @include chevron(8px, 2px, 45deg);
            right: 15px;
            top: 19px;
        }
    }

    a {
        display: block;
        padding: 15px;
    }
}
